.main {
    height: 45px;
    width: 100%;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1448px;
    width: 100%;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    padding: 0 35px;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    list-style: none;
}

.link {
    color: var(--primary-white);
    font-family: 'Nunito_Light';
    font-size: 12px;
    text-decoration: none;
}
